
body {
  font-family: 'Popins', sans-serif;
  margin: 0;
  min-height: 100vh;
}

a {
  text-decoration: none !important;
}

header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
}

.mylogo {
  width: 76px;
  height: 20px;
  margin-left: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  padding-top: 58px;
  padding-left: 24px;
}

.hum-menu {
  padding-top: 68px;
  padding-right: 36px;
}

.headerline {
  background: url(./assets/img/header-shapes\ mobile.png);
  height: 90%;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  border-bottom-left-radius: 8px;
}

.headerline-detail {
  margin: 80px 12px 0 12px;
  width: 327px;
}

.name {
  height: 150px;
  font-weight: 800;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.aboutme {
  margin: 0;
  font-weight: 400;
  color: #344563;
}

.secondary-test .supporting-test {
  line-height: 24px;
}

.connect {
  font-weight: 500;
  color: #7f8cff;
  text-transform: uppercase;
}

.social-media-icons {
  list-style-type: none;
  padding-left: 0;
  width: 170px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
